body{
			font-family: 'Montserrat', sans-serif;
			margin-left:10px;
			margin-right:10px;


		/*#fbfaf9;*/
		/*opacity:.6;*/
		color:#000000;

		/*background: url(http://griddle.it/960-12-30) repeat-y center top;*/
		background-color: #F2F1ED;

		/*
		#446383;*/

		}


	p{
		font-family:'Montserrat', sans-serif;
		font-size:2.4em;
		line-height:1.5em; 
		color:#444;
		
		/*		border-bottom:solid #000000;
		*/	

	}	



	.left{
		float:left;
		clear:both;
		display:block;
		width:250px;
		margin:10px;

	}



	a:link{

		font-family:'Montserrat';
		text-decoration: none;
		color:#999;
		clear:both;
	
		-webkit-transition-property: color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
		

		list-style-type:none;
		display:inline; 
	/*	list-style-position:left;
		clear:both;
		float:left;*/
		padding:3px;
		font-size:.9em;
		text-align:left;
		line-height:2em;



		}

	li{
		list-style-type: none;
		line-height:1.7em;}

	a:hover{
		/*padding:3px;*/
		/*border-top:2px solid black;*/
		/*margin-left:25px;*/
		color:#444;
		/*background-color:#DE5A51;*/
		}

	a:visited{
		text-decoration:none;
		color:#444;

	}

	a:active{
		color:#DE5A51;}	
	
	.header{
		
		/*border-bottom:solid 1px #000000;*/
		/*opacity:.4;*/
		/*#446383;*/
		font-family:'Abril Fatface';
		 /*color:#999 !important;*/
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		/*padding-top:10px;
		padding-right:50px;
		padding:bottom:180px;*/
		padding-left:5px;
		font-size:1em;

	}

	.header_text{
		font-family:'Abril Fatface';
		color:#444;
		margin-left:15%;
	}

	.nav_links{
	
		margin-right:15%;

		font-family:'Montserrat';
		text-decoration: none;
		color:#999;
		clear:both;
		float:right;
		padding:20px 20px 20px 20px;

		-webkit-transition-property: color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
		

		list-style-type:none;
		display:inline; 
	
		padding:3px;
		font-size:1.1em;
		text-align:left;
		line-height:2em;


	}

	

	h2{
		font-family:'Georgia';
		line-height:1.2em;
		color:#999;
		/*opacity:.7;*/
	}	

	#hello{
		font-family:'Abril Fatface';
		font-size:2.1em;
		color:#DE5A51;
		opacity:1;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}

	#profilepic{
		width:100%;
		padding:0px;
		margin:0px;
		clear:both;
		display:block;
		margin-left:auto;
		margin-right:auto;
		/*border: 1px solid #444;*/
	}

	.contact_info{
		border-top:solid #000000;
		color:#DE5A51;
		font-family:'Georgia';
		width:100%;
		padding-top:5px;
		font-size:1.3em;
		text-align:left;



		-webkit-transition-property: color, background-color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
	}

	.contact_info:hover{
		color:#ffffff;
		background-color:#DE5A51;

	}
	.bio{
		width:50%;
		float:none;
		clear:both;
	/*	float:left;*/
		/*overflow:hidden;*/
		/*padding:100px;*/
		margin-left:auto;
		margin-right:auto;
		color:#000000;
		/*opacity:.7;*/
		text-align:left;
	}

	.bio_blurb{
		color:#444;
		font-size: 1em;
		text-align: center;
	}

	.italic{
		font-family: 'Georgia';
		font-style:italic;
	}

	.thumbnail_grid{
		list-style-type: none;
		display:block;
		width:900px;
		padding-top:300px;
		margin-left:auto;
		margin-right:auto;

	}
	.portfolio_thumbnails{
		width:240px;
		height:240px;
		background-color:#000000;
		color:#ffffff;
		margin:10px 10px 10px 10px;
		padding:5px 5px 5px 5px;
		text-align:center;
		font-size:2em;
		vertical-align:middle;
		clear:both;
		float:left;
		position:relative;
		opacity:.5;

		}

	.portfolio_thumbnails:hover{
		opacity:1;
	}	

	.body_text{
		font-family:'Montserrat', sans-serif;
		font-size:1.2em;
		margin-left:21%;
		margin-right:21%;
	}
	}
