body{
			font-family: 'Montserrat', sans-serif;
			margin-left:5%;
			margin-top: 2%;
		/*	margin-right:10px;*/


		/*#fbfaf9;*/
		/*opacity:.6;*/
		color:#444;

		/*background: url(http://griddle.it/960-12-30) repeat-y center top; */
		background-color: #F2F1ED;

		/*
		#446383;*/

		}

	h1{
		font-family:"Abril Fatface", serif;
		margin:0 auto;
		padding-left:2%;
		font-size:2.4em;
	}

	h2{
		font-family:'Montserrat', sans-serif;
		font-size:2.1em;
		line-height:2.2em;
		color:#DE5A51;
		padding-left:5%;
		margin-top:8%;

	
	
	}			


	p{
		font-family:'Montserrat', sans-serif;
		font-size:2.4em;
		line-height:1.5em; 
		color:#444;
		padding-top:0%;
		
			

	}	





	a:link{

		font-family:'Montserrat';
		text-decoration: none;
		color:#999;
		clear:both;
	
		-webkit-transition-property: color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
		

		list-style-type:none;
		display:inline; 
	
		margin-left:5%;
		padding: 2% 2% 2% 2%;
		font-size:.9em;
		text-align:left;
		line-height:2em;



		}

	li{
		list-style-type: none;
		line-height:1.9em;
		/*padding: 0px 0px 0px 0px;*/
		margin-left:5%;
		}

	a:hover{color:#444;
		}

	a:visited{
		text-decoration:none;
		color:#444;

	}

	a:active{
		color:#DE5A51;}	
	
	.header{
		
		/*border-bottom:solid 1px #000000;*/
		/*opacity:.4;*/
		/*#446383;*/
		font-family:'Abril Fatface';
		 /*color:#999 !important;*/
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		/*padding-top:10px;
		padding-right:50px;
		padding:bottom:180px;*/
		padding-left:5px;
		font-size:1em;

	}

	.header_text{
		font-family:'Abril Fatface';
		color:#444;
	/*	margin-left:15%;*/
	}

	.nav_links{
	
		margin-right:15%;


		font-family:'Montserrat';
		text-decoration: none;
		color:#999;
		clear:both;
		float:right;
		padding:5% 5% 5% 5%;

		-webkit-transition-property: color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
		

		list-style-type:none;
		display:inline; 
	
		padding:3px;
		font-size:1.1em;
		text-align:left;
		line-height:2em;


	}

	



	#hello{
		font-family:'Abril Fatface';
		font-size:2.1em;
		color:#DE5A51;
/*		opacity:1;
		margin-left:auto;
		margin-right:auto;*/
		text-align:center;
	}

	#profilepic{
		width:100%;
		padding:0px;
		margin:0px;
		clear:both;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.contact_info{
		border-top:solid #000000;
		color:#DE5A51;
		font-family:'Georgia';
		width:80%;
		padding-top:5px;
		font-size:1.3em;
		margin-left:5%;
		text-align:left;



		-webkit-transition-property: color, background-color; 
		-webkit-transition-duration: .6s; 
		-webkit-transition-timing-function: ease-in;
	}

	.contact_info:hover{
		color:#ffffff;
		background-color:#DE5A51;

	}
	.bio{
		width:60%;
		float:none;
		clear:both;
	/*	float:left;*/
		/*overflow:hidden;*/
		/*padding:100px;*/
		margin-left:8%;
		margin-right:8%;
		color:#000000;
		/*opacity:.7;*/
		text-align:left;
	}

	.bio li{list-style-type:disc;}
	.bio_blurb{
		color:#444;
		font-size: 1em;
		text-align: center;
	}

	.italic{
		font-family: 'Georgia';
		font-style:italic;
		font-size:1.6em;
	}

	.thumbnail_grid{
		list-style-type: none;
		display:block;
		width:900px;
		padding-top:300px;
		margin-left:auto;
		margin-right:auto;

	}


	
	.screenshots{
		float:left;
		width:65%;
		height:65%;
		padding:1% 1% 5% 1%;
		margin-left:15%;
		margin-right:15%;	}



	.portfolio_thumbnails{
	
		float:left;
		width:23%;
		height:23%;
		padding:2% 2% 2% 2%;
		vertical-align: middle;
		text-align:center;
		margin-left:3%;
		margin-right:3%;	}

	.bookcoversmall{
		width:100%;
		height:100%;
		padding:2% 2% 2% 2%;
		/*vertical-align: center;
		text-align: center;*/
	}
	
	#resume_link{font-family:'Abril Fatface';
		font-size:2.1em;
		color:#444;
/*		opacity:1;
		margin-left:15%;
		margin-right:auto;*/
		text-align:center;}

	#resume_link:hover{
		color:#DE5A51;
	}	

	#resume_link:visited{color:#444;}

	

	.body_text{
		font-family:'Montserrat', sans-serif;
		font-size:1.2em;
		margin-left:15%;
		margin-top:3%;
		margin-right:10%;
	}


@-webkit-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#cf4a {
  position:relative;
  /*height:281px;
  width:450px;*/

  height:65%;
  width:50%;
  margin:10% 10% 10% 10%;
}
#cf4a img {
  position:absolute;
  left:0;
}

#cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 10s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 10s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
#cf4a img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
#cf4a img:nth-of-type(3) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
#cf4a img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}




}

